h1 {
color:red;
}

p {
    color:indianred;
}

strong {
    color:purple;
}

em {
    color:green;
}

li {
    background-color: darkgray
    
}

li {
    color: greenyellow
}



