#bajo {
    background-color: red;
}


#alto {
     background-color: mediumvioletred;
}

#pobre {
    background-color: red;
}

#rico {
    background-color: mediumvioletred;
}


fieldset>label {
  width: 30%;
  float: left;
}

fieldset {
    
    border-style: solid;
    border-width:10px; 
    border-color: yellow;
    background-color: lightyellow;
}

label:hover{
    
font-size: 30px;
    
    
}

